/* index.php styles */
.stoodle-body {
    text-align: center;
}

.stoodle-tools {
    margin-top: 1em;
    margin-bottom:2em;
    display:inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.stoodle-flashcard-image {
    height: auto;
    width: 225px;
    margin-bottom:1em;
}

.stoodle-quiz-image {
    height: auto;
    width: 125px;
    margin-bottom:1em;
}

.stoodle-btn {
    background-color: #f98012;
}


/* flashcard_activity.php styles */
.stoodle-js-card {
    font-size: 1.25em;
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f98012;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.stoodle-js-card.is-flipped {
    transform: rotateY(180deg);
}

.stoodle-js-content {
    color: white;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.stoodle-js-counter {
    float: left;
}

.stoodle-flashcards {
    height: 100%;
    width: 350px;
    margin: auto;
    text-align: center;
}

#stoodle-card-answer {
    transform: rotateY(180deg);
}

.stoodle-lr-buttons {
    margin-top: 20px;
}

.stoodle-lr-buttons > button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.stoodle-lr-buttons > button:hover {
    cursor: pointer;
}

.stoodle-exit-button {
    margin-top: 20px;
}


/* quiz_activity.php styles */
#stoodle-div {
    margin-bottom: 10px;
}

#stoodle-question-text {
    margin-bottom: 10px;
}

.stoodle-radio-btn {
    margin-top: auto;
    margin-right: 8px;
    vertical-align: middle;
}

.stoodle-submit-button {
    margin-bottom: .5em;
}


/* quiz.php styles */
.stoodle-nav-buttons {
    margin-left: 202.25px;
}

#id_stoodle-delete.btn-primary {
    color: #fff;
    background-color: #ca3120;
    border-color: #ca3120;
}

#id_stoodle-delete.btn-primary:hover {
    color: #fff;
    background-color: #a9291b;
    border-color: #9e2619;
}

#id_stoodle-editquiz.btn-primary {
    color: #1d2125;
    background-color: #ced4da;
    border-color: #ced4da;
}

#id_stoodle-editquiz.btn-primary:hover {
    color: #1d2125;
    background-color: #b8c1ca;
    border-color: #b1bbc4;
}


/* flashcard.php styles */
#id_stoodle-editset.btn-primary {
    color: #1d2125;
    background-color: #ced4da;
    border-color: #ced4da;
}

#id_stoodle-editset.btn-primary:hover {
    color: #1d2125;
    background-color: #b8c1ca;
    border-color: #b1bbc4;
}